body{
	background-image: url("../img/fondo2.png");
	font: 20px MiFuente,verdana, sans-serif;
}
table{
	text-align: center;
	border: 1px solid black;
	width: 60%;
	margin: 10px;
}
h2{
	padding-left: 50px;
	background-color: #1976cd;
	width: 100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}


@font-face{
	font-family: 'MiFuente';
	src: url('../fuente/ZillaSlab-Regular.otf');
}
th{
	background: #a3bff1;
	border: 1px solid gray;
}
td{
	font:15px MiFuente, sans-serif;
	border: 1px solid gray;
}
